{% extends 'base.html.twig' %}

{% block title %}Oxymaux - Mes animaux{% endblock %}

{% block body %}

<section class=" mx-auto mt-10 px-4">
    <h1 class="text-4xl text-center mt-20">Mes animaux</h1>
</section>
{% endblock %}