{% extends 'base.html.twig' %}

{% block title %}Oxymaux - Mes animaux{% endblock %}

{% block body %}

<div>
    <h1 class="text-6xl text-white text-shadow-md text-shadow-black text-center mt-20">Mes animaux</h1>
</div>
{% endblock %}